<h1>ChatApp</h1>
<%= form_with url:  "/chats", method: :chat,id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<% @chats.each do |chat| %>
<div class="chat">
  <div class="chat-date">
    投稿日時：<%= chat.created_at %>
  </div>
  <div class="chat-content">
    <%= chat.content %>
  </div>
</div>
<% end %>